.*
!.gitignore
bu
*.so
*.[oa]
*.l[oa]
*.gz
.*swp
*.orig
*~
Makefile.in
Makefile
*.m4
stamp-h*
config.*
/ar-lib
/autoscan.log
/ltmain.sh
/configure
/install-sh
/mkinstalldirs
/missing
/*.cache
/depcomp
/compile
/libtool
/INSTALL
/.pc
/patches
/m4
/ylwrap
